<html>
    <head>
        
        <title>
            INDIAN CHAMPS
        </title>
        <link href="css/layout2.css" rel="stylesheet">
    </head>

     <body>
         <div id="Total">
             <div class="header">
               <h1>HEADER</h1>
             </div>
             <div class="nav">
             <h1>NAV</h1>
             </div>





             <div class="section">

                <div class="aside1">
                    <h1>aside1</h1>
                </div>

                <div class="Article">
                          <div class="header1">
                        <h1>header1</h1>
                          </div>
                         <div class="art">
                        <h1>Article</h1>
                         </div>

                         <div class="footer1">
                          <h1>footer1</h1>
                         </div>

                   
                </div>
                     <div class="aside2">
                        <h1>Aside2</h1>
                    </div>

             </div>










             <div class="footer">
                 <h1>FOOTER</h1>
             </div>

         </div>

     



     </body>

     </html>   