<html>
    <head>
        
        <title>
            INDIAN CHAMPS
        </title>
        <link href="css/layout1.css" rel="stylesheet">
    </head>

    <body>
       <div class="container">
            <header>
             <h1>HEADER</h1>
            </header>

            <nav>
                <h1>NAV</h1>
            </nav>

            <section>
                <h1>section</h1>
            </section>
           
            <article>
                <h2>article</h2>
            </article>


            <aside>
                <h1>Aside</h1>
            </aside>


            <footer>
                <h1>foot</h1>
            </footer>
       </div>

    </body>   