<html>
    <head>
        
        <title>
           WOOD CHAMPS
        </title>
        <link href="css/layout3.css" rel="stylesheet">
    </head>

    <body>
    <div id="LAYOUT">
            <div id="header">
                      <div class="logo">
                      <h1>Logo</h1>
                     </div>
                    <div class="company">
                     <h1>company</h1>
                    </div>
            </div>

               <div class="nav">
                   <h1>nav</h1>
               </div>



            <div id="section">
                <!-- <h1>section</h1> -->

                <div class="aside1">
                    <h1>aside1</h1>

                </div>

                <div class="middle">
                <h1>middle</h1>
                </div>

                <div class="aside2">
                    <h1>aside2</h1>
                </div>

            </div>


            <div id="Article">

                <div class="art1">
                  <h1>art1</h1>
                </div>
                <div class="art2">
                 <h1>art2</h1>
                </div>

            </div>


            <div id="footer">
                <!-- <h1>footer</h1> -->
              <div class="foot1" >
                  <h1>Footer</h1>
              </div>
              <div class="foot2">
                  
                  <P>Designed by vikram</P>
              </div>


            </div>
    </div>

     </body>

</html>        